:host{
    display:block;
    width: 100%;
    height: 100%;
    background-image: url('../assets/restaurant.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgb(50, 50, 50);
    background-blend-mode: multiply;

    color: rgb(255, 255, 255)
}